[Desktop Entry]
Type=Application
Name=BetterDiscord Installer
Comment=The Installer of The Discord Enhancement Project
Exec=/home/peyton/AppImages/BetterDiscord-Linux.AppImage
Terminal=false
